<h1>EJERCICIOS DE INTERPOLACION</h1>
<ol>
    <li>El valor de la direccion es:{{user.address}}</li>
    <li>User name: {{user.name+' '+user.surname}}</li>
    <li>La suma de 2 Y 2 es ?? {{2+2}}</li>
    <li>Duplicar texto Hola Mundo <span>{{duplicarTexto('Hola mundo')}}</span></li>
    <li> *ngIf="!persona2.edad"<span>No existe Persona2</span></li>
    <li><span>{{concatenarCadenas(user.name,user.surname)}}</span></li>
    <li>
        <p>{{parrafo}}</p>
    </li>
    <input type="text" value={{parrafo}}>
</ol>

<a routerLink="..">Back</a>